---
layout: base.njk
title: Blog
---

{% include "menu.njk" %}

<main id="main">
  {% include "listing-all.njk" %}
</main>

{% include "footer.njk" %}

<script>
  {{ './live/js/lazyloadImgs.js' | inlineCss | safe }}
</script>
