---
layout: base.njk
title: Blog
---
<main>
  <h1 class="code-title">Random words</h1>
  <section class="cards">
    {% for blog in collections.blogs | reverse %}
    <article>
      <header>
        <h2>{% if blog.data.title %}{{ blog.data.title }}{% endif %}</h2>
      </header>
      <div class="card-body">
        <figure>
          {% if blog.data.image %}
            {% imagine blog.data.image, 'blog', blog.data.imageAltText, "(min-width: 30em) 50vw, 100vw" %}
          {% endif %}
          <figcaption>{{ blog.data.custom_excerpt }}</figcaption>
        </figure>
      </div>
      <footer>
        <nav>
          <ul class="nav-links">
            <li class="nav-item"><a href="{{ blog.url }}">{% if blog.data.title %}{{ blog.data.title }}{% endif %}</a></li>
          </ul>
        </nav>
      </footer>
    </article>
    {% endfor %}
  </section>
</main>
