---
layout: base.njk
title: Talks
---
<main class="main">
<h2 style="text-align: center">Web</h2>
<section class="cards joomla">
  {% for code in talksData.talks | reverse %}
    <article>
      <header class="card-header">
        <h3 class="card-title">{{ code.title | safe }}</h3>
      </header>
      <div class="card-body">
        {% if code.videoId %}
          <lite-youtube videoid="{{ code.videoId }}"  playlabel="Play Video: {{ code.title }}"></lite-youtube>
        {% endif %}
        <p class="card-text">{{ code.description }}</p>
      </div>
      <footer>
        <nav style="display: block;">
        <ul class="nav-links" style="justify-content: space-around;">
          {% if code.slides %}
            <li class="nav-item">
              <a class="btn" target="_blank" href="{{ code.slides }}" style="padding: 1rem 2rem;">Slides</a>
            </li>
          {% endif %}
          {% if code.videoId %}
          <li class="nav-item">
            <a class="btn" target="_blank" rel="noopener noreferer" href="https://youtube.com/watch?v={{ code.videoId }}" style="padding: 1rem 2rem;">Video</a>
          </li>
          {% endif %}
          </ul>
          </nav>
      </footer>
    </article>
  {% endfor %}
</section>
<script type="module" src="/static/js/lite-youtube-embed.js"></script>
<script type="module" id="only-for-partials">document.title =  "{{ metadata.title }}{% if title %} - {{ title }}{% endif %}";</script>
</main>
