:root{
  --body-bg: #fff;
  --body-color: #333;
  --link-color: #2b3e50;
  --link-focus-color: #6589ac;
  --menu-bg: #2b3e50;
  --menu-fg: #fff;
  --button-bg: #2b3e50;
  --button-fg: #fff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
    font-family: 'dgrammatiko';
    src: url("/tmpl_starchaser/fonts/dgrammatiko.woff2") format("woff2"),
          url("/tmpl_starchaser/fonts/dgrammatiko.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

body, html {
  font-family: "dgrammatiko", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root:not(.is-light) { /* :root is <html> for HTML documents */
    --body-bg: #15202b;
    --body-color: #fff;
    --link-color: #9bebea;
    --link-focus-color: #b5fffe;
    --menu-bg: #192734;
    --menu-fg: #fff;
    --button-bg: #fff;
    --button-fg: #192734;
  }
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

:root.is-dark { /* :root is <html> for HTML documents */
  --body-bg: #15202b;
  --body-color: #fff;
  --link-color: #9bebea;
  --link-focus-color: #b5fffe;
  --menu-bg: #192734;
  --menu-fg: #fff;
  --button-bg: #fff;
  --button-fg: #192734;
}

body {
  text-align: left;
  text-align: start;
  color: var(--body-color);
  background-color: var(--body-bg);
  font-weight: 200;
  line-height: 1.5rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  line-break: auto;
  word-break: break-word;
}

img {
  max-width: 100%;
}

.icon {
  width: 2.2rem;
  height: 1rem;
  color: currentColor;
}

a {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-focus-color);
}

.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
