@use postcss-nested;

footer {
  background-color: var(--menu-bg);
  color: var(--menu-fg);
  bottom: 0;

  & nav {
    align-items: baseline;
  }
}

.footer-text {
  display: none;
}

@media only screen and (min-width: 768px)  {
  .footer-text {
    display: inherit;
    margin-inline-start: 1rem;
  }
}
