nav {
  width: 100%;
  height: 5rem;
  background-color: var(--menu-bg);
  /* padding-left: 30px;
  padding-right: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: none;
  color: var(--menu-fg);
  font-family: inherit;
  font-size: 2rem;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  background-color: var(--menu-fg);
  color: var(--menu-bg);
  padding: 1.75rem 0;
}

@media only screen and (min-width: 768px) {
  .logo {
    display: inline-block;
  }
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a,
.nav-item dark-light-switch {
  display: inline-block;
  padding: 1.75rem 1rem;
  text-decoration: none;
  color: var(--menu-fg);
}

.nav-item a:hover,
.nav-item a:focus {
  background-color: white;
  color: var(--menu-bg);
}

.logo img {
  width: 175px;
  vertical-align: middle;
}
