---
eleventyExcludeFromCollections: true
permalink: /.well-known/mcp/server-card.json
---
{
  "serverInfo": {
    "name": "dgrammatiko.dev",
    "version": "{{ metadata.version }}"
  },
  "capabilities": {}
}