---
permalink: /_headers
eleventyExcludeFromCollections: true
---
/*
  X-Frame-Options: DENY
  X-Content-Type-Options: nosniff
  Referrer-Policy: no-referrer
  Strict-Transport-Security: max-age=31536000; includeSubDomains
  Content-Security-Policy: default-src 'self' 'unsafe-eval' 'unsafe-inline'; img-src 'self' data: https://i.ytimg.com; frame-src 'self' https://www.youtube-nocookie.com; object-src 'none'

/static/*
  X-Robots-Tag: nosnippet

/dist/*
  X-Robots-Tag: noindex
