---
layout: base.njk
title: About
---
<main id="main">
<style nonce=8ef3d1e2e9fd100a12f47d7dd14c3fd7b24873cc0d5c9c93f322d47680b5e9f7>
  {{ 'static/css/about.css' | inlineCss | safe }}
</style>
    <section class="center">
      <img class="mypic" src="/static/images/mstile-144x144.png" alt=""/>
      <h4>Hello, I'm Dimitris</h4>
      
      <p class="center">I like to create/build/assemble things</p>
      <p class="center">[exemption assembling anything from IKEA 😛].</p>
      <p class="center">I do care about UX/UI, performance</p>
      <p class="center">and anything web related.</p>
    </section>
</main>

