---
layout: base.njk
title: About
---

{% include "menu.njk" %}

<style>
  {{ './live/static/css/about.min.css' | inlineCss | safe }}
</style>

<main id="main">
    <section class="center">
      <img class="mypic" src="/static/images/mstile-144x144.png" alt=""/>
      <h4>Hello, I'm Dimitris</h4>
      
      <p class="center">I like to create/build/assemble things</p>
      <p class="center">[exemption assembling anything from IKEA 😛].</p>
      <p class="center">I do care about UX/UI, performance</p>
      <p class="center">and anything web related.</p>
    </section>
</main>

{% include "footer.njk" %}
