---
layout: base.njk
title: Contact
---

{% include "menu.njk" %}

<style>
  {{ './live/css/contact.min.css' | inlineCss | safe }}
</style>

<main id="main">
  <section class="center">
    <form id="form" method="POST">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" autocomplete="name" required minlength="3">
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" autocomplete="email" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"  required pattern=""></textarea>
      </div>
      <div class="field">
        <button id="js-contact-submit-" type="submit">Submit</button>
      </div>
    </form>

    <div style="display:none;" id="thankyou_message">
        <h2>
            <em>Thanks</em> for contacting me!
        </h2>
    </div>
  </section>
</main>

{% include "footer.njk" %}

<script>
  {{ './live/js/validate.js' | inlineCss | safe }}
</script>
