---
layout: base.njk
title: Home
---

{% include "menu.njk" %}

<main id="main">
  {% include "listing-3.njk" %}
</main>

{% include "footer.njk" %}

<script>
  {{ './live/static/js/lazyloadImgs.js' | inlineCss | safe }}
</script>
