---
eleventyExcludeFromCollections: true
permalink: '/index-bottom.html'
---
{% include "footer.njk" %}

<script nonce=8ef3d1e2e9fd100a12f47d7dd14c3fd7b24873cc0d5c9c93f322d47680b5e9f7 src="/static/js/toggler.esm.js" type=module></script>
<script nonce=8ef3d1e2e9fd100a12f47d7dd14c3fd7b24873cc0d5c9c93f322d47680b5e9f7 src="/static/js/toggler.es5.js" nomodule></script>
<script nonce=8ef3d1e2e9fd100a12f47d7dd14c3fd7b24873cc0d5c9c93f322d47680b5e9f7>{{ 'static/js/lazyloadImgs.js' | inlineCss | safe }}</script>
</body>

</html>
