---
layout: base.njk
title: Home
---

<main class="home site-main">
  <section class="home-inline">
      {% imagine "me.png", '', "Dimitris' avatar", "(min-width: 30em) 50vw, 100vw" %}

      <div>
        <h4>Hello, I'm Dimitris Grammatikogiannis</h4>

        <p class="center">I like to create/build/assemble things and consider myself a full-stack developer (polyglot).</p>
        <p class="center">I do care about UX/UI, performance, and anything related to the web.</p>
        <p class="center">I've been involved in the Joomla CMS for a while as a maintainer, bug squad member, JS Group lead, GSOC mentor, etc., and have introduced quite some new features (Child Templates, public folder, etc.).</p>
        <p class="center">I'm back in Athens/Greece, and looking for my next adventure.</p>
        <hr>
        <p class="center">Want to contact me? <a href="mailto:d.grammatiko@gmail.com">Drop me a line</a></p>
      </div>
  </section>
</main>
