---
layout: base.njk
title: Offline
permalink: '/offline.html'
eleventyExcludeFromCollections: true
---
 <main id="main">
   <p>Network failed you</p>
   <script nonce=8ef3d1e2e9fd100a12f47d7dd14c3fd7b24873cc0d5c9c93f322d47680b5e9f7>{{ 'static/js/lazyloadImgs.js' | inlineCss | safe }}</script>
 </main>
