---
layout: base.njk
title: Offline
permalink: '/offline.html'
eleventyExcludeFromCollections: true
---
 <main id="main">
   <p>Network failed you</p>
   <script>{{ 'static/js/lazyloadImgs.js' | inlineCss | safe }}</script>
 </main>
