---
eleventyExcludeFromCollections: true
permalink: '/service-worker.js'
# {% include "serviceworker.js" %}
---
const VERSION={{ page.date.getTime() }};
const routes=[{%- for entry in collections.all %}'{{ entry.url | url }}',{%- endfor %}];
{% include "serviceworker.js" %}
