---
permalink: /speculation-rules.json
eleventyExcludeFromCollections: true
---
{
  "prefetch": [
    {
      "source": "document",
      "where": {
        "selector_matches": "a[href^='/']"
      },
      "eagerness": "moderate"
    }
  ],
  "prerender": [
    {
      "source": "document",
      "where": {
        "selector_matches": "a[href^='/']"
      },
      "eagerness": "moderate"
    }
  ]
}
