---
layout: layouts/base.njk
title: Contact
---

{% include "layouts/menu.njk" %}

<style>
  {{ './gh-pages/_assets/css/contact.min.css' | inlineCss | safe }}
</style>

<main id="main">
<section>
  <form id="contact-me" method="post" action="#">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" autocomplete="name">
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" autocomplete="email">
    </div>
    <div class="field">
      <label for="message">Message</label>
      <textarea name="message" id="message" rows="3"></textarea>
    </div>
    <div class="field">
      <input id="js-contact-submit" type="submit" value="Send Message" disabled="">
    </div>
  </form>
</section>
</main>

{% include "layouts/footer.njk" %}
