---
layout: layouts/base.njk
title: Home
---

{% include "layouts/menu.njk" %}

<main id="main">
  {% include "layouts/listing-3.njk" %}
</main>

{% include "layouts/footer.njk" %}

<script>
  {{ './gh-pages/_assets/js/lazyloadImgs.js' | inlineCss | safe }}
</script>