<ul class="listing">
{% for post in collections.blogs | reverse %}
{{post.type}}
  {% if post.data.type != 'article' %}
  <li>
    {% if post.data.canonical %}
    <a href="{{ post.data.canonical }}" target="_blank" rel="noopener" class="listing__remote">
    {% else %}
    <a href="{{ post.url }}" class="listing__local">
    {% endif %}
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <h2>{{ post.data.title }}</h2>
      <p>{{ post.data.intro }}</p>
    </a>
  </li>
  {% endif %}
{% endfor %}
</ul>