---
permalink: '/service-worker.js'
---
const VERSION = '{{ global.random() }}';
const preCached = [];

{% for post in collections.post %}
  preCached.push({{ post.url }});
{% endfor %}

{% include "partials/service-worker.js" %}