@use postcss-nested;

.articleBody,
.webmentions {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 80ch;
}

.webmentions__facepile {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.h-card.u-url.link-u-exempt {
  text-decoration: none;
}

.h-card.u-url.link-u-exempt img {
  width: 48px;
  height: 48px;
  border: 1px solid var(--link-color);
  border-radius: 10px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.webmentions img {
  border-radius:50%;
  display:inline;
  height:48px;
  width:48px;
  object-fit:cover
}
.webmentions h3 {
  margin-top:40px
}
.webmentions__facepile a {
  border:none;
  box-shadow:none
}
.webmentions__facepile a:hover {
  background:0 0
}
.webmentions a:hover img {
  filter:drop-shadow(3px 5px 10px var(--button-bg))
}
.webmention-replies img {
  height:24px;
  width:24px
}
.webmention-replies article{
  margin-bottom:32px
}
.webmention-replies .webmention__meta{
  display: flex;
  column-gap: 1rem;
  margin-bottom: .8rem;
}
.webmention-replies .webmention__meta time {
  display:block;
}
.webmention-text a {
  margin-left:4px
}
article.webmention {
  padding:16px 16px 12px
}
