@use postcss-nested;

header.major {
  text-align: center;
  padding: 1.71rem 1rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  > p {
    font-style: italic;
  }

  > h1 + p {
    font-size: 1.1rem;
    margin-top: -0.5rem;
    line-height: 2;
  }

  > .date {
    display: block;
    font-size: 1rem;
    margin: -2rem 0 4rem 0;
    padding-top: .5rem;
    position: relative;
    color: var(--button-bg);
  }

  > .date::before,
  > .date::after {
    content: '';
    display: block;
    position: absolute;
    top: .3rem;
    width: calc(50% - 6rem);
    border-top: .4rem double;
    margin-top: 1rem;
  }

  > .date:before {
    left: 0;
  }

  > .date:after {
    right: 0;
  }

  .date:before,
  .date:after {
    border-top-color: var(--link-color);
  }

  > p {
    margin-top: 0;
    text-align: center;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.articleBody,
.webmentions {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

@media only screen and (min-width: 768px)  {
  .articleBody,
  .webmentions {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 80ch;
  }

  header.major {
    max-width: 80ch;
    margin-left:  auto;
    margin-right:  auto;
  }
}

.webmentions__facepile {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.h-card.u-url.link-u-exempt {
  text-decoration: none;
}

.h-card.u-url.link-u-exempt img {
  width: 48px;
  height: 48px;
  border: 1px solid var(--link-color);
  border-radius: 10px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.webmentions img {
  border-radius:50%;
  display:inline;
  height:48px;
  width:48px;
  object-fit:cover
}
.webmentions h3 {
  margin-top:40px
}
.webmentions__facepile a {
  border:none;
  box-shadow:none
}
.webmentions__facepile a:hover {
  background:0 0
}
.webmentions a:hover img {
  filter:drop-shadow(3px 5px 10px var(--button-bg))
}
.webmention-replies img {
  height:24px;
  width:24px
}
.webmention-replies article{
  margin-bottom:32px
}
.webmention-replies .webmention__meta{
  margin-bottom:8px
}
.webmention-replies .webmention__meta time {
  display:block;
  margin-top:8px
}
.webmention-text {
  margin-top:0
}
.webmention-text a {
  margin-left:4px
}
article.webmention {
  padding:16px 16px 12px
}
