@use postcss-nested;

.post {
  padding: 1rem 4rem;

  &.featured {
    text-align: center;
    padding: 0 4rem;
    border-top: 0 !important;

    p {
      text-align: center;
    }
  }

  header.major > h1,
  header.major h2 {
    line-height: 1.1;
    margin: 0 0 2rem 0;
  }
}

header {
  .major {
    margin: 0 0 4rem 0;
    text-align: center;

    .date {
      font-family: var(--alt-font);
      font-size: 1rem;
      margin: 0 0 4rem 0;
    }
  }

  .date {
    display: block;
    font-size: 0.8rem;
    height: 1;
    margin: 0 0 1rem 0;
    padding-top: .5rem;
    position: relative;
    text-align: center;
    color: var(--button-bg);

    &:before, &:after {
      border-top: .4rem double;
      content: "";
      display: inline-block;
      margin-top: 1rem;
      top: 0;
      width: calc(50% - 6rem);
      padding-top: .2rem;
      border-top-color: var(--button-bg);
    }

    &:before {
      margin-right: .5rem;
    }
    &:after {
      margin-left: 1rem;
    }
  }

  h1,
  h2 {
    margin: 0 0 2rem 0;
    text-align: center;
  }

  > p {
    font-style: italic;
    font-size: 1.2rem;
  }

  > h1 + p {
    margin-top: -0.5rem;
    line-height: 2;
  }

  > p {
    margin-top: 0;
    text-align: center;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .btn {
    text-align: center;
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
  width: 100%;
  padding: 0;
  margin-top: -4px;

  > * {
    flex-shrink: 1;
    flex-grow: 0;
    padding: 4rem;
    width: 50%;
  }

  > article {
    text-align: center;
  }
}

.deferred {
  content-visibility: auto;
  contain-intrinsic-size: 100px 1000px;
}

@media only screen and (max-width: 768px)  {
  .posts {
    > * {
      padding: 1rem;
      width: 100%;
    }
  }
  .post {
    padding: 1rem;
  }
}
