/* inspired by moderncss.dev */
.code-title {
  color: var(--menu-fg);
  text-align: center;
  text-shadow: .2rem .2rem var(--link-focus-color);
  margin-bottom: 2em;
}

.grid-cards {
  display: grid;
  flex-wrap: wrap;
  padding: 0;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  grid-gap: 2rem;
}

.card-header {
  min-height: 9rem;
  overflow: hidden;

  & > .card-title {
    margin: 1em;
    color: var(--menu-fg);

    & > :last-child {
      margin-bottom: unset;
    }
  }
}

.card-body {
  flex: 1;
  min-height: 140px;
  background: var(--card-bg);
  margin-top: 0;
  min-height: 20rem;

  & p {
    color: var(--menu-fg);
    padding: 1rem;
  }
}

.card-img {
  height: 124px;
}

.card-footer {
  display: flex;
  border-top: none;
  bottom: 0;
  background-color: unset;
  margin-top: unset;

  &> nav {
    color: #fff;
    color: var(--menu-fg);
    margin-bottom: 1rem;
  }

  & .nav-links {
    align-items: center;
    justify-items: stretch;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;


    & .nav-item {
      width: 100%;
      height: 100%;

      & > a {
        width: 100%;
        border: 1px solid var(--button-bg);
        text-align: center;
      }
    }
  }
}

.cards {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  & article {
    background-color: var(--card-bg);
    color: var(--menu-fg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 2rem;

  &::before,
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skewY(7deg);
  }

  &::before {
    top: -1px;
    height: 100%;
    transition: transform .24s ease-in;
  }

  &::after {
    background-color: var(--card-bg);
    margin: 5px;
    padding-bottom: 1rem;
  }

  &:hover {
    &::before {
      transform: skewY(7deg) scale(1.03);
      background-image: linear-gradient(
        270deg,
        hsl(182deg 100% 16%) 0%,
        hsl(193deg 88% 28%) 40%,
        hsl(198deg 89% 40%) 55%,
        hsl(200deg 100% 50%) 65%,
        hsl(194deg 92% 56%) 72%,
        hsl(183deg 84% 54%) 78%,
        hsl(173deg 100% 50%) 82%,
        hsl(165deg 100% 55%) 86%,
        hsl(158deg 100% 55%) 89%,
        hsl(153deg 100% 50%) 91%,
        hsl(139deg 100% 58%) 94%,
        hsl(127deg 100% 60%) 96%,
        hsl(108deg 100% 50%) 100%
      );
    }
  }
}


