@use postcss-nested;

.main {
  margin: 0 auto;
  max-width: 72rem;
  min-height: 78vh;

  & > * {
    margin: 0;
  }

  & > *:first-child {
    border-top: 0;
  }
}

.home {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.home-inline {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.home-inline > picture {
  min-width: 300px;
}

@media only screen and (max-width: 700px) {
  .home-inline {
    flex-direction: column-reverse;
  }
}

