@use postcss-nested;

nav {
  width: 100%;
  height: 5rem;
  background-color: var(--menu-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: none;
  color: var(--menu-fg);
  font-family: dgrammatiko;
  font-size: 3rem;
  text-decoration: none;
  margin-left: 1rem;
  padding: 1.75rem .5rem;

  &:hover,
  &:focus {
    background-color: var(--link-color);
    color: var(--menu-fg);
  }
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.nav-item {
  & a {
    display: inline-block;
    text-decoration: none;
    color: var(--menu-fg);
    padding: 1.75rem .5rem;

    &:hover,
    &:focus {
      background-color: var(--link-color);
      color: var(--menu-fg);
    }
  }
}

@media only screen and (min-width: 555px) {
  .logo {
    display: inline-block;
  }

  .nav-links {
    margin-left: unset;
    margin-right: 2rem;
  }
}
