/* latin */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 100 800;
  font-size-adjust: 0.45;
  font-display: swap;
  src: url("//static/fonts/Geologica-latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  color-scheme: dark light;
  --body-bg: #fff;
  --body-color: rgb(209, 209, 209);
  --link-color: rgb(0, 155, 167);
  --link-focus-color: rgb(23, 235, 241);
  --menu-bg: rgb(0, 78, 81);
  --menu-fg: #fff;
  --button-bg: rgb(0, 155, 167);
  --button-fg: #fff;
  --card-bg: #2a3030;
  --def-font: Geologica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --v-t-speed: .75s;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    /* P3 */
    --link-color: color(display-p3 0.02 0.43 0.45);
    --link-focus-color: color(display-p3 0.196 0.786 0.815);
    --menu-bg: color(display-p3 0.01 0.38 0.39);
    --button-bg: color(display-p3 0.16 0.75 0.78);
  }
}

:root.is-dark {
  color-scheme: dark;
  --body-bg: rgb(26, 24, 24);
  --link-color: rgb(0, 155, 167);
  --link-focus-color: rgb(23, 235, 241);
  --menu-bg: rgb(26, 24, 24);
  --button-bg: rgb(0, 155, 167);
  --button-fg: rgb(26, 24, 24);
  --body-color: #f0f0f0;
  --menu-fg: #fff;
  --card-bg: #2a3030;
}

:root.is-light {
  color-scheme: light;
  --body-bg: #fff;
  --body-color: rgb(55, 55, 55);
  --link-color: rgb(0, 79, 82);
  --link-focus-color: rgb(6, 65, 67);
  --menu-bg: rgb(0, 78, 81);
  --menu-fg: #fff;
  --button-bg: rgb(0, 79, 82);
  --button-fg: #fff;
  --card-bg: rgb(62, 140, 146);
  /* --def-font: "dgrammatiko", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  /* --alt-font: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
}

@supports (color: color(display-p3 1 1 1)) {
  :root.is-light {
    /* P3 */
    --link-color: color(display-p3 0.02 0.43 0.45);
    --link-focus-color: color(display-p3 0.196 0.786 0.815);
    --menu-bg: color(display-p3 0.01 0.38 0.39);
    --button-bg: color(display-p3 0.16 0.75 0.78);
  }
  :root.is-dark {
    /* P3 */
    --link-color: color(display-p3 0.04 0.67 0.7);
    --link-focus-color: color(display-p3 0.196 0.786 0.815);
    --menu-bg: color(display-p3 0.01 0.38 0.39);
    --button-bg: color(display-p3 0.16 0.75 0.78);
    --button-fg: color(display-p3 0.1 0.095 0.095);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

:where(html, body, h1, h2, h3, h4, h5, h6, button, summary, nav) {
  font-family: var(--def-font);
}

html {
  background-color: #000;
  color-scheme: dark light;
  min-height: 100vh;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  display: grid;
  font-weight: 200;
  grid-auto-columns: 1fr 1fr 1fr;
  line-height: 1.5rem;
  min-height: 100vh;
  text-align: left;
  text-align: start;
  text-rendering: optimizeLegibility;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 900;
  line-height: 1.5;
  /* letter-spacing: 0.075em; */
  text-transform: uppercase;
  margin: 1rem 0;
  line-break: auto;
  word-break: break-word;
}

:where(img) {
  width: 100%;
  height: auto;
}

.icon {
  width: 2.2rem;
  height: 1rem;
  color: currentColor;
}

:where(a) {
  color: var(--link-color);
}

:where(a):hover,
:where(a):focus {
  color: var(--body-bg);
  background-color: var(--link-color);
}

:where(p) {
  margin-bottom: 1rem;
}

:where(ul) {
  margin-left: 2rem;
}

.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
