@use postcss-nested;

footer {
  background-color: var(--menu-bg);
  color: var(--menu-fg);
  bottom: 0;

  & nav {
    align-items: baseline;

    & .nav-links {
        margin-left: auto;
        margin-right: auto;
    }
  }
}
