dark-light-switch {
  --size: 1.5;
  position: relative;
  display: inline-block;
  width: calc(var(--size) * 2rem);
  height: calc(var(--size) * 1rem);
  padding: 1.75rem .5rem;
  box-sizing: content-box;
}
