@view-transition {
  navigation: auto;
}

@media not (prefers-reduced-motion: reduce) {
  .site-header {
    view-transition-name: site-header;
  }
  .site-main {
    view-transition-name: site-main;
  }
  .site-footer {
    view-transition-name: site-footer;
  }
}

/* Ensure the view-transition pseudo-element matches the background */
::view-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

::view-transition-new(site-header),
::view-transition-new(site-footer),
::view-transition-old(site-header),
::view-transition-old(site-footer) {
  animation-name: fade-v-t;
}

::view-transition-new(site-main) {
  animation-name: zoomIn;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
}

::view-transition-old(site-main) {
  animation-name: zoomOut;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

::view-transition-new(dark-light),
::view-transition-old(dark-light) {
  animation-name: pan-v-t;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
}

::view-transition-new(dark-light) {
  --vt-ds: 180deg;
  height: 100lvh;
}

::view-transition-old(dark-light) {
  --vt-ds: 0deg;
  backface-visibility: hidden;
}

@keyframes pan-v-t {
  0% {
    transform: scale(1) rotateY(var(--vt-ds));
  }
  25% {
    transform: scale(0.45) rotateY(var(--vt-ds));
  }
  75% {
    transform: scale(0.45) rotateY(calc(var(--vt-ds) + 180deg));
  }
  100% {
    transform: scale(1) rotateY(calc(var(--vt-ds) + 180deg));
  }
}

@keyframes sweep-v-t {
  to {
    mask-position: var(--to) 50%;
  }
}

@keyframes fade-v-t {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
