@view-transition {
  navigation: auto;
}

@media not (prefers-reduced-motion: reduce) {
  .site-header { view-transition-name: site-header; }
  .site-main { view-transition-name: site-main; }
  .site-footer { view-transition-name: site-footer; }
}

::view-transition {
  /* Match the background color of the page to avoid flashes */
  background-color: var(--menu-bg, #fff);
  /* Ensure the pseudo-element covers the entire viewport */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Ensure it is above all other elements */
  pointer-events: none; /* Prevent interaction */
}

/* Add smooth transitions for elements */
::view-transition-group {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Fade-out effect for exiting elements */
::view-transition-old {
  opacity: 0;
  transform: scale(0.95);
}

/* Fade-in effect for entering elements */
::view-transition-new {
  opacity: 1;
  transform: scale(1);
}

::view-transition-new(site-header),
::view-transition-new(site-footer),
::view-transition-old(site-header),
::view-transition-old(site-footer) {
  animation: fade-v-t calc(((var(--v-t-speed) / 3) * 1000ms) * 1s) ease-in-out;
}

::view-transition-new(site-main) {
  animation-delay: calc(var(--v-t-speed) * 2000ms);
  animation: zoomIn calc(var(--v-t-speed) * 1000ms) ease-in-out;
  animation-fill-mode: forwards;
}

::view-transition-old(site-main) {
  animation: zoomOut calc(var(--v-t-speed) * 1000ms) ease-in-out;
  animation-fill-mode: forwards;
}

::view-transition-new(dark-light),
::view-transition-old(dark-light) {
  animation: pan-v-t calc(var(--v-t-speed) * 1000ms) ease-in-out;
  backface-visibility: hidden;
}

::view-transition-new(dark-light) {
  --vt-ds: 180deg;
  height: 100lvh;
}

::view-transition-old(dark-light) {
  --vt-ds: 0deg;
  backface-visibility: hidden;
}

@keyframes pan-v-t {
  0% { transform: scale(1) rotateY(var(--vt-ds)); }
  25% { transform: scale(.45) rotateY(var(--vt-ds)); }
  75% { transform: scale(.45) rotateY(calc(var(--vt-ds) + 180deg)); }
  100% { transform: scale(1) rotateY(calc(var(--vt-ds) + 180deg)); }
}

@keyframes sweep-v-t {
  to {
    mask-position: var(--to) 50%;
  }
}

@keyframes fade-v-t {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomOut {
    0% {
        opacity:1
    }

    50% {
        opacity: 0;
        transform:scale3d(.3, .3, .3)
    }

    to {
        opacity:0
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform:scale3d(.3, .3, .3)
    }

    50% {
        opacity:1
    }
}
