/* code from @jh3y: https://github.com/jh3y/pixel-view-transitions */

@view-transition {
  navigation: auto;
}

::view-transition {
  background: var(--body-fg);
}

::view-transition-old(list-of-things),
::view-transition-new(list-of-things) {
  --mask-frames: 20;
  --from: 100%;
  --to: 0%;
  mask-image: var(--v-t-bg1);
  mask-repeat: no-repeat;
  mask-size: calc((var(--mask-frames) + 1) * 100vmax) 100vmax;
  mask-position: var(--from, 100%) 50%;
  animation: sweep-v-t var(--v-t-speed) steps(var(--mask-frames)) both;
}

::view-transition-new(list-of-things) {
  --from: 0%;
  --to: 100%;
  mask-image: var(--v-t-bg2);
  animation-delay: calc(var(--v-t-speed) / 2);
}

::view-transition-new(dark-light),
::view-transition-old(dark-light) {
  animation: pan-v-t var(--v-t-speed) ease-in-out;
  backface-visibility: hidden;
}

::view-transition-new(dark-light) {
  --vt-ds: 180deg;
  height: 100lvh;
}

::view-transition-old(dark-light) {
  --vt-ds: 0deg;
  backface-visibility: hidden;
}

@keyframes pan-v-t {
  0% { transform: scale(1) rotateY(var(--vt-ds)); }
  25% { transform: scale(.5) rotateY(var(--vt-ds)); }
  75% { transform: scale(.5) rotateY(calc(var(--vt-ds) + 180deg)); }
  100% { transform: scale(1) rotateY(calc(var(--vt-ds) + 180deg)); }
}

@keyframes sweep-v-t {
  to {
    mask-position: var(--to) 50%;
  }
}
