@view-transition {
  navigation: auto;
}

@media not (prefers-reduced-motion: reduce) {
  .site-header { view-transition-name: site-header; }
  .site-main { view-transition-name: site-main; }
  .site-footer { view-transition-name: site-footer; }
}

::view-transition {
  background: var(--menu-bg);
}

::view-transition-new(site-header),
::view-transition-new(site-footer),
::view-transition-old(site-header),
::view-transition-old(site-footer) {
  animation: fade-v-t calc((var(--v-t-speed) / 3) * 1s) ease-in-out;
}

::view-transition-new(site-main) {
  animation-delay: calc(var(--v-t-speed) * 2s);
  animation: zoomIn calc(var(--v-t-speed) * 1000ms) ease-in-out;
  animation-fill-mode: both;
}

::view-transition-old(site-main) {
  animation: zoomOut calc(var(--v-t-speed) * 1000ms) ease-in-out;
  animation-fill-mode: both;
}

::view-transition-new(dark-light),
::view-transition-old(dark-light) {
  animation: pan-v-t calc(var(--v-t-speed) * 1000ms) ease-in-out;
  backface-visibility: hidden;
}

::view-transition-new(dark-light) {
  --vt-ds: 180deg;
  height: 100lvh;
}

::view-transition-old(dark-light) {
  --vt-ds: 0deg;
  backface-visibility: hidden;
}

@keyframes pan-v-t {
  0% { transform: scale(1) rotateY(var(--vt-ds)); }
  25% { transform: scale(.45) rotateY(var(--vt-ds)); }
  75% { transform: scale(.45) rotateY(calc(var(--vt-ds) + 180deg)); }
  100% { transform: scale(1) rotateY(calc(var(--vt-ds) + 180deg)); }
}

@keyframes sweep-v-t {
  to {
    mask-position: var(--to) 50%;
  }
}

@keyframes fade-v-t {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomOut {
    0% {
        opacity:1
    }

    50% {
        opacity: 0;
        transform:scale3d(.3, .3, .3)
    }

    to {
        opacity:0
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform:scale3d(.3, .3, .3)
    }

    50% {
        opacity:1
    }
}
