/* code from @jh3y: https://github.com/jh3y/pixel-view-transitions */

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  --mask-frames: 20;
  --from: 100%;
  --to: 0%;
  mask-image: var(--v-t-bg1);
  mask-repeat: no-repeat;
  mask-size: calc((var(--mask-frames) + 1) * 100vmax) 100vmax;
  mask-position: var(--from, 100%) 50%;
  animation: sweep var(--v-t-speed) steps(var(--mask-frames)) both;
}

::view-transition-new(root) {
  --from: 0%;
  --to: 100%;
  mask-image: var(--v-t-bg2);
  animation-delay: calc(var(--v-t-speed) * 2);
}

@keyframes sweep {
  to {
    mask-position: var(--to) 50%;
  }
}
