@view-transition {
  navigation: auto;
}

@media not (prefers-reduced-motion: reduce) {
  .site-header {
    view-transition-name: site-header;
  }
  .site-main {
    view-transition-name: site-main;
  }
  .site-footer {
    view-transition-name: site-footer;
  }
}

/* Ensure the view-transition pseudo-element matches the background */
::view-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

::view-transition-new(site-header),
::view-transition-new(site-footer),
::view-transition-old(site-header),
::view-transition-old(site-footer) {
  animation-name: fade-v-t;
}

::view-transition-new(site-main),
::view-transition-old(site-main),
::view-transition-new(dark-light),
::view-transition-old(dark-light) {
  mix-blend-mode: normal;
}

::view-transition-old(site-main) {
  animation: none;
  opacity: 1;
  z-index: 1;
}

::view-transition-new(site-main) {
  animation: fill-top-to-bottom 500ms ease-in-out;
  background-color: var(--body-bg);
  z-index: 2;
}

::view-transition-old(dark-light) {
  animation: none;
  opacity: 1;
  z-index: 1;
}

::view-transition-new(dark-light) {
  animation: fill-top-to-bottom 500ms ease-in-out;
  height: 100lvh;
  z-index: 2;
}

@keyframes fill-top-to-bottom {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sweep-v-t {
  to {
    mask-position: var(--to) 50%;
  }
}

@keyframes fade-v-t {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
