---
layout: base.njk
title: Code
---
<main class="main">
<h2 style="text-align: center">Web</h2>
<section class="cards web">
{# Loop through all the web widgets #}
{% for blog in codeData.web %}
      <article>
        <header>
          <h2>{% if blog.title %}{{ blog.title }}{% endif %}</h2>
        </header>
        {% if blog.image %}
            <img loading="lazy" src="/static/images/code/{{ blog.image }}" alt="{{ blog.imageAltText }}" />
        {% endif %}
        <p>{{ blog.description }}</p>
        <p>{% if blog.maintained %}<strong>maintained</strong>{% else %}Not really maintained anymore{% endif %}</p>
        <div style="display: grid; grid-auto-columns: max-content; grid-auto-flow: column; grid-column-gap: 1rem;">
            {% if blog.link %}<a href="{{ blog.link }}" rel="noopener" target="_blank">site</a>{% endif %}
            {% if blog.repo %}<a href="{{ blog.repo }}" rel="noopener" target="_blank">repo</a>{% endif %}
        </div>
      </article>
{% endfor %}
</section>

<hr style="border: 5px solid"/>

<h2 style="text-align: center">Joomla</h2>

<section class="cards joomla">
{# Loop through all the joomla widgets #}
{% for blog in codeData.joomla %}
      <article>
        <header>
          <h2>{% if blog.title %}{{ blog.title }}{% endif %}</h2>
        </header>
        {% if blog.image %}
            <img loading="lazy" src="/static/images/code/{{ blog.image }}" alt="{{ blog.imageAlt }}" />
        {% endif %}
        <p>{{ blog.description }}</p>
        <p>{% if blog.maintained %}<strong>maintained</strong>{% else %}abandoned{% endif %}</p>
        <div style="display: grid; grid-auto-columns: max-content; grid-auto-flow: column; grid-column-gap: 1rem;">
            {% if blog.link %}<a href="{{ blog.link }}" rel="noopener" target="_blank">site</a>{% endif %}
            {% if blog.repo %}<a href="{{ blog.repo }}" rel="noopener" target="_blank">repo</a>{% endif %}
        </div>
      </article>
{% endfor %}
</section>

<hr style="border: 5px solid"/>
</main>
