---
layout: base.njk
title: Code
---
<main>
  <h1 class="code-title">Side Projects</h1>
  <section class="cards web">
  {% for blog in codeData.web %}
    <article class="card">
      {% if blog.title %}
        <header class="card-header">
          <h2 class="card-title">{{ blog.title }}</h2>
        </header>
      {% endif %}
      <div class="card-body">
        {% if blog.image %}
          {% imagine blog.image, "code", blog.imageAltText, "(min-width: 30em) 50vw, 100vw", "card-img", false %}
        {% endif %}
        <p>{{ blog.description }}</p>
      </div>
      <footer class="card-footer">
        <nav>
          <ul class="nav-links">
            {% if blog.link %}
              <li class="nav-item">
                <a target="_blank" rel="noopener" href="{{ blog.link }}">website</a>
              </li>
            {% endif %}
            {% if blog.repo %}
              <li class="nav-item">
                <a target="_blank" rel="noopener" href="{{ blog.repo }}">Source code</a>
              </li>
            {% endif %}
      </footer>
    </article>
  {% endfor %}
  </section>
</main>
