<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>
    <link rel="preload" href="/static/fonts/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_LjQbMZhKSbpUVzEEQ.woff" as="font" type="font/woff">
    <link rel="preload" href="/static/fonts/dgrammatiko.woff2" as="font" type="font/woff2">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if description %}
      {% set desc = description | safe %}
    {% else %}
      {% set desc = metadata.description | safe %}
    {% endif %}
    <meta name="description" content="{{ desc }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@dgrammatiko">
    {% if fulltextImage %}
    {% set image = fulltextImage.replace('.jpg', '@1200.jpg').replace('.png', '@1200.png') %}
    <meta name="twitter:image" content="https://{{ metadata.domain }}{{ image }}">
    <meta property="og:image" content="https://{{ metadata.domain }}{{ image }}">
    {% else %}
    <meta name="twitter:image" content="https://{{ metadata.domain }}/static/images/android-chrome-512x512.png">
    <meta property="og:image" content="https://{{ metadata.domain }}/static/images/android-chrome-512x512.png">
    {% endif %}
    <meta property="og:url" content="https://{{ metadata.domain }}{{ page.url }}">
    <meta property="og:title" content="{{ metadata.title }}{% if title %} - {{ title }}{% endif %}">
    <meta property="og:description" content="{{ desc }}">
    <meta name="monetization" content="$ilp.uphold.com/29KGbUJg6Xaq">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#008e93" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1a1818" media="(prefers-color-scheme: dark)">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="any" href="/static/images/favicon-32x32.png">
    <link rel="icon" href="/static/images/safari-pinned-tab.svg">

    <link href="https://github.com/dgrammatiko" rel="me">
    <link href="https://twitter.com/dgrammatiko" rel="me">
    <link rel="webmention" href="https://webmention.io/{{ metadata.domain }}/webmention" />
    <link rel="pingback" href="https://webmention.io/webmention?forward=https://{{ metadata.domain }}/webmention" />
    <link rel="pingback" href="https://webmention.io/{{ metadata.domain }}/xmlrpc" />
    <link rel="stylesheet" href="/static/css/main.css?{{metadata.version}}">
  </head>

  <body class="grid-it">
    {% include "menu.njk" %}

    {{ layoutContent | safe }}

    {% include "footer.njk" %}

    <script type="module">if ('serviceWorker' in navigator) { navigator.serviceWorker.register('/sw.js'); }</script>
  </body>

</html>
