<!doctype html>
<html lang="en">
  <head>
    <title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="Posts about the web, coding, Javascript, HTML, CSS and maybe some PHP">
    <meta name="apple-mobile-web-app-title" content="dGrammatiko">
    <meta name="application-name" content="dGrammatiko">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@dgrammatiko">
    <meta property="og:url" content="https://dgrammatiko.online{{ page.url }}">
    <meta property="og:title" content="Blog">
    <meta property="og:image" content="/static/images/android-chrome-512x512.png">
    <meta property="og:description" content="Posts about the web, coding, Javascript, HTML, CSS and maybe some PHP">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#2b3e50">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#000000">
    <style>
        {{ 'static/css/base.css' | inlineCss | safe }}
        {{ 'static/css/nav.css' | inlineCss | safe }}
        {{ 'static/css/toggler-alt.css' | inlineCss | safe }}
        {{ 'static/css/footer.css' | inlineCss | safe }}</style>
    <script nonce=8ef3d1e2e9fd100a12f47d7dd14c3fd7b24873cc0d5c9c93f322d47680b5e9f7>this.customElements||document.write('<script src="//unpkg.com/document-register-element"><\x2fscript>');</script>
  </head>

  <body class="grid-it">
    {% include "menu.njk" %}

    {{ layoutContent | safe }}

    {% include "footer.njk" %}

    <script type=module nonce=8ef3d1e2e9fd100a12f47d7dd14c3fd7b24873cc0d5c9c93f322d47680b5e9f7>if ('serviceWorker' in navigator) { window.addEventListener('load', () => { navigator.serviceWorker.register('/service-worker.js'); }); } </script>
    <script src="/static/js/toggler.esm.js" type=module></script>
    <script src="/static/js/toggler.es5.js" nomodule></script>
  </body>

</html>
