<section class="posts grid" data-rows="masonry">
{% for blog in collections.blogs | reverse %}
  <article class="article">
    {% if blog.data.image %}{% imagine blog.data.image, 'blog', blog.data.imageAltText, "(min-width: 30em) 50vw, 100vw" %}{% endif %}
    <ul class="article-category">
      <li>
        <a href="/">Inspiration</a>
      </li>
      <li>
        <a href="/">Photography</a>
      </li>
    </ul>
    <h1 class="article-title">
      <a class="btn" href="{{ blog.url }}">
        {% if blog.data.title %}{{ blog.data.title }}{% endif %}
      </a>
    </h1>
    <time class="article-date" datetime="{{ blog.date | htmlDateString }}">{{ blog.date | readableDate }}</time>
    <div class="article-content">
      <p>{{ blog.data.custom_excerpt }}</p>
    </div>
  </article>
{% endfor %}
</section>
<script type="module" id="only-for-partials">document.title =  "{{ metadata.title }}{% if title %} - {{ title }}{% endif %}";</script>
