<main id="main">
<wanna-be-inline-style src="static/css/codes.css" in-place></wanna-be-inline-style>
<section class="grid-cards">
  {% for code in collections.code | reverse %}
    <article  class="grid-cards-item">
      <header class="card-header">
          {% if code.data.image %}
          <wanna-be-picture class="lazyload"
              src="{{ blog.data.image }}"
              alt="{{ blog.data.imageAltText }}"
              sizes="160,320,480"
              class="responsive"
              ></wanna-be-picture>
          {% endif %}
          <a href="{{ code.url | url }}">
            <h2>{% if code.data.title %}{{ code.data.title }}{% endif %}</h2>
          </a>
      </header>
      <div class="card-body">
        <p>{{ blog.data.custom_excerpt }}</p>
      </div>
      <footer class="card-footer">
          <a class="btn" href="{{ blog.url }}">Full Story</a>
      </footer>
    </article>
  {% endfor %}
</section>
<wanna-be-inline-script type="module" id="only-for-partials">document.title =  "{{ metadata.title }}{% if title %} - {{ title }}{% endif %}";</wanna-be-inline-script>
</main>
