<style>
  {{ './live/static/css/nav.min.css' | inlineCss | safe }}
  {{ './live/static/css/toggler-alt.min.css' | inlineCss | safe }}
</style>
<header role="banner">
  <div class="wrapper">
      <nav class="navbar">
        <a href="/" class="logo">dGrammatiko</a>
        <ul class="nav-links">
          <li class="nav-item"><a href="/" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/blog">Blog</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/contact">Contact</a></li>
          <li class="nav-item"><dark-light-switch></dark-light-switch></li>
        </ul>
      </nav>

  </div>
</header>
