
<header role="banner">
  {% set css %}
    {% include "assets/static/css/nav.css" %}
    {% include "assets/static/css/ce-theme-switcher-alt.css" %}
  {% endset %}
  <style>{{ css | safe }}</style>
  <div class="wrapper">
      <nav class="navbar">
        <a href="/" class="logo">
          <div class="glitch" data-text="dGrammatiko">dGrammatiko</div>
        </a>

        <ul class="nav-links">
          <li class="nav-item"><a href="/" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/blog">Blog</a></li>
          <li class="nav-item"><a href="/code">Code</a></li>
          <li class="nav-item"><a href="/presentations">Talks</a></li>
        </ul>
      </nav>

  </div>
</header>
