
<header role="banner">
<style nonce=8ef3d1e2e9fd100a12f47d7dd14c3fd7b24873cc0d5c9c93f322d47680b5e9f7>
  {{ 'static/css/nav.css' | inlineCss | safe }}
  {{ 'static/css/toggler-alt.css' | inlineCss | safe }}
</style>
  <div class="wrapper">
      <nav class="navbar">
        <a href="/" class="logo">dGrammatiko</a>
        <ul class="nav-links">
          <li class="nav-item"><a href="/" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/blog">Blog</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/contact">Contact</a></li>
          <li class="nav-item"><dark-light-switch></dark-light-switch></li>
        </ul>
      </nav>

  </div>
</header>
