---
eleventyExcludeFromCollections: true
permalink: '/index-bottom.html'
---
{% include "footer.njk" %}

<script src="/_assets/js/toggler.esm.js" type=module></script>
<script src="/_assets/js/toggler.es5.js" nomodule></script>
<script>{{ './gh-pages/_assets/js/lazyloadImgs.js' | inlineCss | safe }}</script>
</body>

</html>
