---
eleventyExcludeFromCollections: true
permalink: '/service-worker.js'
---

const VERSION = {{ page.date.getTime() }};
const preCached = [
  { url: '/index-top.html', revision: VERSION },
  { url: '/index-bottom.html', revision: VERSION },
  { url: '/_assets/tmpl_starchaser/fonts/dgrammatiko.woff2', revision: VERSION },
  { url: '/offline.content.html', revision: VERSION },
];
{% include "service-worker.js" %}
