# Based on the Astro nightly workflow

name: 'Nightly'

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '33 02 * * *'
  workflow_dispatch:

jobs:
  lockfile:
    if: github.repository_owner == 'dgrammatiko'
    runs-on: ubuntu-latest
    steps:

      - name: Check out code using Git
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: latest

      - name: NPM Install
        run: npm install

      - name: Update all outdated packages
        run: npm install $(npm outdated | cut -d' ' -f 1 | sed '1d' | xargs -I '$' echo '$@latest' | xargs echo)  --save-exact

      - name: Check if the build fails
        id: checkbuild
        run: npm run build

      - name: Create Pull Request
        if: steps.checkbuild.outcome == 'success'
        id: createpr
        uses: peter-evans/create-pull-request@v4.2.4
        with:
          branch: npm-update
          delete-branch: true
          # Access token is needed to trigger CI on this PR
          token: ${{ secrets.ACTION_PAT }}
          commit-message: '[ci] NPM updates '
          title: '[ci] NPM updates '
          labels: automerge
          body: >
            This PR is auto-generated by a nightly GitHub action.

      - name: Create Pull Request
        if: steps.checkbuild.outcome != 'success'
        id: createpr1
        uses: peter-evans/create-pull-request@v4.2.4
        with:
          branch: npm-update
          delete-branch: true
          # Access token is needed to trigger CI on this PR
          token: ${{ secrets.ACTION_PAT }}
          commit-message: '[ci] NPM updates '
          title: '[ci] NPM updates '
          labels: ""
          body: >
            This PR is auto-generated by a nightly GitHub action.

      - name: Automerge Pull Request 
        if: steps.checkbuild.outcome == 'success' && steps.createpr.outputs.pull-request-operation == 'created'
        uses: pascalgn/automerge-action@v0.15.6
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
          MERGE_METHOD: merge
          MERGE_LABELS: automerge
          MERGE_COMMIT_MESSAGE: "Automagic"
          MERGE_METHOD_LABELS: automerge=merge
          MERGE_FORKS: false
          MERGE_RETRIES: 6
          MERGE_RETRY_SLEEP: 10000
#           MERGE_REQUIRED_APPROVALS: 0
#           UPDATE_LABELS: ""
#           UPDATE_METHOD: squash
          PULL_REQUEST: ${{ steps.createpr.outputs.pull-request-number }}





